@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400&display=swap');

*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Outfit', sans-serif;
}

body {
display: flex;
justify-content: center;
align-items: center;
text-align: center;
background-color: hsl(212, 45%, 89%);
overflow-y: hidden;
}

/*MOBILE FRIST 375PX*/
.container__disp {
background-color: hsl(0, 0%, 100%);
margin-top: 1em;
border-radius: 20px;
height: 500px;
width: 320px;
justify-content: center;
align-items: center;
box-shadow: 0px 0px 15px rgba(0,0,0,0.1)
}

.container__qrcode {
height: 295px;
width: 295px;
display: flex;
justify-content: center;
align-items: center;
margin-top: 0.2em;
box-shadow: 0px 0px 10px rgba(0,0,0,0.1); 
}

.qrcode {
position: relative;
top: 0.6em;
left: 0.85em;
border-radius: 10px;
padding: 0;
height: 100%;
width: 100%;
}

.container__text {
margin-top: 1em;
padding: 1em 1em;
width: 100%;
}

h2 {
color: hsl(218, 44%, 22%);
font-weight: 700;
}

p {
padding-top: 2em;
font-size: 1em;
color: hsl(220, 15%, 55%);
font-weight: 400;
width: fit-content;
}

.attribution {
margin-top: 1.8em;
font-size: 11px;
text-align: center;
}

.attribution a {
color: hsl(228, 45%, 44%);
text-decoration: none;
}
